* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizelegibility; }

@-webkit-keyframes fade {
            0% {
            opacity: 0.0;
            }

            100% {
            opacity: 0.99;
            }
            }

            @-webkit-keyframes move {
            0% {
            -webkit-transform: translateY(10%);
            transform: translateY(10%);
            }

            100% {
            -webkit-transform: translateY(0%);
            transform: translateY(0%);
            }
            }

            *, *:after, *:before {
            margin: 0;
            padding: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            }

            html {
            font-size: 100%;
            padding: 0;
            margin: 0;

            }

            body {
                margin: 0;
                padding: 0;
                font-family: sans-serif;
                -webkit-font-smoothing: antialiased;
                -moz-font-smoothing: antialiased;
                font-smoothing: antialiased;
                background: rgba(255, 255, 255, 0.9);
            }

            .wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                height: 100%;
                width: 100%;
                /*border: 1px solid #252525;*/
            }

            section {
                width: 60%;
                margin: auto;
            }

            header {
                width: 100%;
            }

            header h1 {
                font-size: 3em;
                font-weight: 400;
                letter-spacing: 0.15em;
                text-align: center;
                color: #151515;
            }

            @media all and (max-width: 60em) {
                html {
                    font-size: 95%;
                }
                .wrapper {
                    padding: 5em;
                }
            }

            @media all and (max-width: 45em) {
                html {
                font-size: 90%;
                }
                .wrapper {
                    padding: 2em;
                }
            }

/*html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  color: #4c4845;
  -webkit-font-smoothing: antialiased; }

@font-face {
  font-family: 'FoundersGrotesk';
  src: url("/assets/FoundersGroteskWeb-Regular.eot") format("embedded-opentype"), url("/assets/FoundersGroteskWeb-Regular.woff") format("woff"); }
@font-face {
  font-family: 'FoundersGroteskBold';
  src: url("/assets/FoundersGroteskWeb-Bold.eot") format("embedded-opentype"), url("/assets/FoundersGroteskWeb-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Scala';
  src: url("/assets/ScalaWeb.eot") format("embedded-opentype"), url("/assets/ScalaWeb.woff") format("woff"); }
@font-face {
  font-family: 'ScalaBold';
  src: url("/assets/ScalaWeb-Bold.eot") format("embedded-opentype"), url("/assets/ScalaWeb-Bold.woff") format("woff"); }
html {
  font-family: 'FoundersGrotesk', sans-serif;
  font-size: 100%; }

body {
  height: 100%;
  background-color: white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

a {
  text-decoration: none; }

.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: stretch;
  align-items: center; }

header {
  margin: 5em auto 0 auto; }
  header h1 {
    width: 1em;
    height: auto;
    margin: 0; }

nav {
  margin: 0; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    nav ul li {
      display: inline-block;
      float: left;
      font-size: .85em;
      text-transform: uppercase;
      letter-spacing: .2em;
      text-align: center; }
      nav ul li a {
        display: inline-block;
        float: left;
        margin: 0 1em;
        padding: 0 0 2em 0;
        -webkit-transition: all .1s ease; }

body.home {
  background-color: #d14e52; }
  body.home article {
    max-width: 40em;
    margin: auto; }
    body.home article p {
      margin: 0;
      font-family: 'ScalaBold';
      font-size: 2.75em;
      color: white;
      text-align: center; }
  body.home nav a {
    color: rgba(255, 255, 255, 0.7); }
    body.home nav a:hover {
      color: white; }

body.studio {
  background-color: white; }
  body.studio article {
    max-width: 54em;
    margin: auto 1em; }
    body.studio article p {
      margin: 0 0 1em 0;
      font-family: 'FoundersGrotesk';
      font-size: 1.5em;
      line-height: 1.5;
      color: #4c4845;
      text-align: left; }
  body.studio nav a {
    color: rgba(76, 72, 69, 0.7); }
    body.studio nav a:hover {
      color: #4c4845; }
    body.studio nav a.studio {
      color: #d14e52; }

body.tenets {
  background-color: #4c4845; }
  body.tenets section.tenets {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0; }
    body.tenets section.tenets ol {
      max-width: 42em;
      list-style: none;
      margin: 10em auto;
      padding: 0; }
      body.tenets section.tenets ol li {
        margin: 0 0 5em 0; }
        body.tenets section.tenets ol li h2 {
          margin: 0 0 .25em 0;
          font-family: 'ScalaBold';
          font-size: 2.5em;
          line-height: 1.25;
          color: white; }
        body.tenets section.tenets ol li p {
          margin: 0;
          font-size: 1.1em;
          line-height: 1.4;
          color: rgba(255, 255, 255, 0.7); }
    body.tenets section.tenets a {
      display: block;
      margin: auto;
      color: rgba(255, 255, 255, 0.25);
      font-size: 1.75em;
      -webkit-transition: all 200ms ease-out; }
      body.tenets section.tenets a.previous:hover {
        color: white;
        -webkit-transform: translateX(-5px); }
      body.tenets section.tenets a.next:hover {
        color: white;
        -webkit-transform: translateX(5px); }
  body.tenets nav a {
    color: rgba(255, 255, 255, 0.7); }
    body.tenets nav a:hover, body.tenets nav a.tenets {
      color: white; }

body.process {
  background-color: white; }
  body.process article {
    max-width: 54em;
    margin: auto 1em; }
    body.process article p {
      margin: 0 0 1em 0;
      font-family: 'FoundersGrotesk';
      font-size: 1.5em;
      line-height: 1.5;
      color: #4c4845;
      text-align: left; }
    body.process article .focus {
      width: 33%;
      float: left; }
      body.process article .focus h3 {
        font-size: 1.25em;
        color: #4c4845; }
      body.process article .focus ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        body.process article .focus ul li {
          margin: 0 0 .5em 0;
          font-size: 1.2em;
          line-height: 1.5; }
  body.process nav a {
    color: rgba(76, 72, 69, 0.7); }
    body.process nav a:hover {
      color: #4c4845; }
    body.process nav a.process {
      color: #d14e52; }

body.contact {
  background-color: white; }
  body.contact article {
    max-width: 54em;
    margin: auto 1em; }
    body.contact article p {
      margin: 0 0 1em 0;
      font-family: 'FoundersGrotesk';
      font-size: 1.5em;
      line-height: 1.5;
      color: #4c4845;
      text-align: left; }
    body.contact article .department {
      width: 33%;
      float: left; }
      body.contact article .department h3 {
        font-size: 1.25em;
        color: #4c4845; }
      body.contact article .department p {
        margin: 0;
        font-size: 1.2em;
        line-height: 1.5; }
        body.contact article .department p a {
          padding: 0 0 2px 0;
          color: #d14e52;
          border-bottom: 1px solid rgba(209, 78, 82, 0);
          -webkit-transition: all 100ms ease; }
          body.contact article .department p a:hover {
            border-bottom: 1px solid rgba(209, 78, 82, 0.99); }
  body.contact nav a {
    color: rgba(76, 72, 69, 0.7); }
    body.contact nav a:hover {
      color: #4c4845; }
    body.contact nav a.contact {
      color: #d14e52; }
      */