/*
 *
 * Title: the only style sheet
 * Author: joshuagoodlett@gmail.com
 *
 */


/* Reset styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	}
	        
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
	}
body {
	line-height: 1;
	}
ol, ul {
	list-style: none;
	}
blockquote, q {
	quotes: none;
	}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
	  

/* 
 * Font classes
 *  .tk-chaparral-pro (headers)
 *  .tk-atrament-web (text)
 */
  
/* ---------------------------------------------------------------------------
 *
 * Primary styles 
 *
 * -------------------------------------------------------------------------*/
 
body {
    font-size: 100%;
	background: #f7f7f7;
	color: #3a3a3a;
}

a:link, a:visited {
    text-decoration: none;
    outline: none; 
    color: Green; 
}

a:hover {
    color: #000;
}

cite {
    font-style: italic;
}

strong {
    font-weight: bold;
}
	    

/* ---------------------------------------------------------------------------
 *
 * Page structure 
 *
 * -------------------------------------------------------------------------*/
 
#wrap {
    max-width: 760px;
    margin: 0 auto;
    font-size: 1.1em;
}
 
/*footer[role="contentinfo"] {
    max-width: 760px;
    margin: 0 auto 10px auto;
}*/
 
 
 /* ---------------------------------------------------------------------------
 *
 * Header (banner)
 *
 * -------------------------------------------------------------------------*/
 
header[role="banner"] {
    margin: 0 0 25px 0;
    padding: 10px 0 25px 0;
    border-bottom: 2px solid #aaa;
    /*float: left;*/
    width: 100%;
}
 
#logo {
    font-size: 3.5em;
    text-transform: uppercase;
    /*float: left;*/
    margin: 0 auto;   
    width: 30%;
}
 
nav[role="navigation"] ul li {
    float: left;
    width: 20%;
    margin: 20px 0 0 0;
}


/* ---------------------------------------------------------------------------
 *
 * Main styles
 *
 * -------------------------------------------------------------------------*/
 
#main {
    font-size: 1.1em;
    line-height: 1.5;
}

#main a {
    text-decoration: underline;
}

#main h2 {
    margin: 0 0 .2em 0;
	font-size: 2.0em;
	font-weight: 500;
	line-height: 1;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#main article {
    margin: 0 0 2.8em 0;
    padding: 0 0 0.9em 0;
    border-bottom: 1px solid #ddd;
}

#main article:last-of-type {
    padding-bottom: 0 0 0.5em 0;
    border-bottom: none;
}

#main article p {
	margin: 0 0 0.9em 0;
}

#main article em {
    font-style: italic;
}


/* ---------------------------------------------------------------------------
 *
 * Footer
 *
 * -------------------------------------------------------------------------*/
 
footer[role="contentinfo"] {
    margin: 0;
    /*background: #7a7a7a;*/
    width: 100%;
}

footer[role="contentinfo"] #ft-content {
    max-width: 760px;
    margin: 0 auto;
    padding: 30px 0 30px 0;
    text-align: center;
    color: #3a3a3a;
    font-family: "chaparral-pro",sans-serif;
    border-top: 1px solid #bbb;
}

footer[role="contentinfo"] #ft-content p {
    line-height: 1.4;
    letter-spacing: 0.5px;
}

footer[role="contentinfo"] #ft-content p a {
    font-weight: 500;
}
 
footer[role="contentinfo"] h1 {
    font-family: "atrament-web",sans-serif;
    font-size: 1.7em;
    /*line-height: 1;*/
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
}